[Desktop Entry]
Type=Application
Name=btop
GenericName=System Monitor
Comment=The resource monitor: processors, memory, disks and processes
Exec=/bin/btop
Icon=btop
Terminal=true
Keywords=system;process;task;cpu;memory;monitor;
Categories=System;Monitor;ConsoleOnly;
